<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="scripts"></script>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>

<body>
  
    <body>
        <div class="container">
            <section id="content">
                <form action="">
                    <h1>Bienvenidos</h1>
                    <div>
                        <input type="text" placeholder="Nombre" required="" id="Username" />
                    </div>
                    <div>
                        <input type="password" placeholder="Contraseña" required="" id="Password" />
                    </div>
                    <div>
                        <input type="submit" value="Acceder" />
                        <a href="#">Perdiste tu Contraseña</a>
                        <a href="/register">Registrate</a>
                    </div>
                </form><!-- form -->
                <div class="button">
                </div><!-- button -->
            </section><!-- content -->
        </div><!-- container -->
    
    <% if(typeof alert != "undefined") {%>
            <script>
                swal.fire({
                    title: '<%= alertTitle %>' ,
                    text:'<%= alertMessage %>' ,
                    icon: '<%= alertIcon %>' ,
                    showConfirmButton: '<%= showConfirmButton %>' ,
                    timer: <%= timer %>
                }).then(()=> { 
                    window.location='/<%= ruta %>'
                })
            </script>
        <% } %>
    
    </body>
</body>
</html>
